
@{
                /*Aca ya esta logueado*/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<h2>Bienvenidos a Empanadas YA!</h2>

@section Body{

    <h4>Lista de pedidos</h4>
    <br>
    <br>
    <br>
    <br>
    <br>


}