
@{
    /*Aca ya esta logueado*/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    @Session["idUsuario"]
}
<html>
<head>

</head>

<body>
    <h2>Bienvenidos a Empanadas YA!</h2>


    <h4>
        Empanadas ya es una plataforma que facilita el encargo de
        sus empanadas de manera online donde cada comenzal podra confirmar sus gustos desde su casa
        y asi evitar llamar por telefono y facilitar la recoleccion de dinero
    </h4>




</body>
</html>



