
@{
                /**/

                ViewBag.Title = "IndexLogout";
                Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>IndexLogout</h2>


@section Body{

    <h4>Empanadas ya es una plataforma que facilita el encargo de 
    sus empanadas de manera online donde cada comenzal podra confirmar sus gustos desde su casa
    y asi evitar llamar por telefono y facilitar la recoleccion de dinero</h4>
    
    <p>Si no sos usario reguistrate AQUI</p>


}

