@{
    /**/

    ViewBag.Title = "IndexLogout";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<h2>IndexLogout</h2>


@section BodySection{



    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="post" action="/Home/Login">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electronico</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Ingresa email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="card-footer bg-transparent ">
                        <input type="submit" class="btn btn-block btn-lg btn-warning" value="INGRESAR" />
                    </div>
                    <div class="text-center" id="errorGeneral" name="errorGeneral">@ViewBag.ErrorLogin</div>
                    <hr />
                    <!-- <a class="linkss" href="#">Registracion</a>-->

                </form>

            </div>
        </div>
    </div>



}

