@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

@model Pedido

<html>
<head>
</head>
<body>
    <h2>Detalle del pedido </h2>

    <div class="container">
        <form action="/Pedidos/Listar">
            <div class="row">
                <div class="col-md-6">
                    Nombre Negocio:@Model.NombreNegocio
                    <br>
                    Descripcion:@Model.Descripcion
                    <br>
                    IdEstadoPed:@Model.EstadoPedido.Nombre

                </div>
                <div class="col-md-6">
                    Precio x Unidad:@Model.PrecioUnidad
                    <br>
                    Precio x Docena:@Model.PrecioDocena
                    <br>
                    FechaCreacion:@Model.FechaCreacion
                    <br>
                </div>
                <br>
                <div class="col-md-6">
                   
                        Gustos Disponibles:
                        <div id="midiv" class="table-hover">

                            @foreach (var item in ViewBag.Lista as MultiSelectList)
                            {
                                @item.Text <br>
                            }
                        </div>
     

                    
                    </div>
            </div>
            <br>
            <div class="center-align pt-1">
                <button type="submit" class="btn btn-warning my-2 my-sm-0">Ir a Lista Pedidos</button>
            </div>
        </form>

    </div>
</body>

</html>


