@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
@model Pedido

<div class="container text-center">


    <div class="form-group">
        <div class="row">
            <label>
                El pedido se inicio correctamente<br />

            </label>
        </div>
    </div>
    <br />
    <form action="/Pedidos/Listar/">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Volver</button>
    </form>
</div>

