@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
@model Pedido

<div class="container text-center">


    <div class="form-group">
        <div class="row">
            <label>
                El pedido se inicio correctamente<br />

            </label>
        </div>
    </div>
    <br />
    <a style="color:white;" href="/Pedidos/Listar">Volver</a>
</div>

