
@{
    ViewBag.Title = "ListaFiltrada";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
@model List<InvitacionPedidoGustoEmpanadaUsuario>

<h2>ListaFiltrada</h2>

<div class="table-responsive">

    
    <table class="table table-condensed">
        <thead class="thead-inverse">
            <tr>
                <td>GustosDisponibles</td>
            </tr>
        </thead>
        <tbody>
            @foreach (InvitacionPedidoGustoEmpanadaUsuario i in Model)
            {
                <tr>
                    <td>@i.GustoEmpanada.Nombre</td>
                    <td>@i.Cantidad</td>
                    <td><a style="color:white;" href="/Pedidos/Eliminar/@i.IdPedido"><span class="glyphicon glyphicon-remove"></span></a></td>

                </tr>
            }

        </tbody>
    </table>

</div>
<a  class="btn btn-warning my-2 my-sm-0" href="/Pedidos/Listar/">Volver</a>