
@{
    ViewBag.Title = "_AnonimoLayout";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!--Este layout se debe usar cuando no se esta logueado (para el loguin y error)-->

<h2>_AnonimoLayout</h2>


<h4> sera usada por Login y error </h4>






