
@{
    ViewBag.Title = "_AnonimoLayout";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";

}

<!--Este layout se debe usar cuando no se esta logueado (para el loguin y error)-->
<!-- Vista con el menu-->
<!--Este layout se debe usar cuando si se esta logueado debe implementar BaseLayout con el menu visble)-->
<!DOCTYPE html>
<html>
<head>
    @section HeadSection{
        <title>Pedidos de Empanadas</title>
    }

</head>
<body>
    @section NavSection{
    }
    <div class="jumbotron">
        <!-- COMIENZA CONTENIDO DE CADA PAGINA -->

        @RenderSection("BodySection")

    </div>



</body>
</html>











