
@{
    ViewBag.Title = "_UsuarioLayout";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!-- Vista con el menu-->
<!--Este layout se debe usar cuando si se esta logueado debe implementar BaseLayout conel menu visble)-->
<!DOCTYPE html>
<html>
<head>
    @section HeadSection{
        <title>Pedidos de Empanadas</title>
    }



</head>
<body>
    @section NavSection{
        <a class="navbar-brand" href="/Pedidos/Listar">Lista de Pedidos</a>
        <a class="navbar-brand" href="/Pedidos/Iniciar">Iniciar Pedido</a>
        <a class="navbar-brand" href="/Home/Login" id="logout"><span class="glyphicon glyphicon-log-in">&nbsp;Salir</span></a>

    }
    <div class="jumbotron">
        <!-- COMIENZA CONTENIDO DE CADA PAGINA -->
        @RenderBody()

    </div>

    <hr />














</body>
</html>
