
@{
    ViewBag.Title = "_UsuarioLayout";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!-- Vista con el menu-->
<!--Este layout se debe usar cuando si se esta logueado debe implementar BaseLayout conel menu visble)-->
<!DOCTYPE html>
<html>
<head>
    @section HeadSection{
        <title>Pedidos de Empanadas</title>
        <!-- link jquery para la parte de servicio web -->
        <script src="jquery-3.3.1.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

        <!-- links para el combo dinamico de editar-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Made with Thimble</title>

        <!-- Bootstrap 4.0 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    }



</head>
<body>
    @section NavSection{
        <a class="navbar-brand" href="/Pedidos/Listar">Lista de Pedidos</a>
        <a class="navbar-brand" href="/Pedidos/Iniciar">Iniciar Pedido</a>
        <a class="navbar-brand" href="/Home/Logout" id="logout"><span class="glyphicon glyphicon-log-in">&nbsp;Salir</span></a>

    }
    <div class="jumbotron">
        <!-- COMIENZA CONTENIDO DE CADA PAGINA -->
        @RenderBody()

    </div>

    <hr />














</body>
</html>
